<!DOCTYPE html>
<html>
  <head>
    <title>SNS App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="<%= mix('/css/app.css') %>">
    <script src="<%= mix('/js/turbo.js') %>"></script>
    <script src="<%= mix('/js/bootstrap.js') %>"></script>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">SNS App</a>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <% if user_signed_in? %>
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-link" %>
              <%= link_to "投稿一覧", "/", class: "nav-link" %>
              <%= link_to "新規投稿", add_post_path, class: "nav-link" %>
            <% else %>
              <%= link_to "新規登録", new_user_registration_path, class: "nav-link" %>
              <%= link_to "ログイン", new_user_session_path, class: "nav-link" %>
            <% end %>
          </div>
        </div>
      </div>
    </nav>
    
    <!-- アラートメッセージ -->
    <% if notice %>
      <div class="alert alert-success" role="alert">
        <%= notice %>
      </div>
    <% end %>
    <% if alert %>
      <div class="alert alert-danger" role="alert">
        <%= alert %>
      </div>
    <% end %>

    <div class="bg-white text-dark min-vh-100 px-5 py-3">
      <%= yield %>
    </div>

    <script src="<%= mix('/js/app.js') %>"></script>
  </body>
</html>
