<!DOCTYPE html>
<html>
  <head>
    <title>SNS App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%#= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%#= javascript_importmap_tags %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <div id="app">
      <!-- 画面上部に表示するナビゲーションバーです -->
      <nav class="navbar navbar-light navbar-expand-lg" style="background-color: #e3f2fd;">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">SNS App</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">投稿一覧</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">投稿</a>
              </li>
            </ul>
            <span class="navbar-text">
      </span>
          </div>
        </div>

      </nav>

      <!-- ここまでナビゲーションバー -->

      <main class="py-4 min-vh-100">
        <%= yield %>
      </main>
    </div>
  </body>
</html>
